* {
    margin: 0px;
    padding: 0px;
    line-style-type: none;
    text-decoration: none;
}

body {

    overflow-y: scroll;

}

.navbar {
    border-radius: 4px;
    position: relative;
    min-height: 60px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    padding: 0px;
}

.navbar-inverse {
    background-color: #62a8ea;
    border-color: #62a8ea;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
}

.navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
}

.navbar-brand {
    margin-left: -15px;
    min-width: 200px;
    color: #FFF;
    float: left;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand-logo {
    margin-top: -3px;
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    line-height: 20px;
}

.navlogin ul {
    display: inline;
    white-space: nowrap;
    color: #FFF;
    margin: auto;
}

.navlogin ul, ul li {
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    color: #FFF;
    padding-left: 8px;
}

.navlogin ul li a {
    color: #FFF;
}

.table td, .table th {
    padding: 0.5rem;
    vertical-align: middle;
}

.dropdown-menu > li > a {
    display: block;
    clear: both;
    font-size: 14px;
    padding: 6px 10px;
}

.dropdown-menu > li > a:hover {
    color: #f9f9f9;
    background-color: #3c8dbc;
}

body {
    font-size: 14px;
}

.label {
    padding: .2em .6em .3em;
    font-size: 75%;
    border-radius: .25em;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 3px;
}

.pagePosition {
    /*float: right;*/
    margin: auto;
}

.pagination > li {
    display: inline;
}

.pagination > li > a, .pagination > li > span {
    padding: 6px 12px;
    border: 1px solid #ddd;
}

.huodong > a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
    pointer-events: none;
}

.pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

/*.pagination > li > a:focus {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}*/

.pagination > .huodong {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

