body {
    background-color: #f1f4f5;
}

.note3_top {
    width: 100%;
    height: 60px;
    background-color: #62a8ea;
}

.yto-item {
    margin-bottom: 20px;
    padding: 0 20px 10px 20px;
    background: #fff;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 426px;
}

.yto-item:after, .yto-item:before, .yto-item-coupon:after, .yto-item-coupon:before {
    content: "";
    display: table;
    clear: both;
}

.item-org {
    color: #f60;
}

.item-green {
    color: #5cb85c;
}

.yto-item-hd {
    margin-top: 0;
    padding: 15px 0;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px dashed #ddd;
    position: relative;
}

.item-address {
    position: absolute;
    right: -10px;
    padding: 10px;
    top: 3px;
    font-size: 18px;
    cursor: pointer;
}

.yto-hy-link img {
    border-radius: 4px;
    max-width: 100%;
    width: 100%;
}

.yto-item-coupon {
    min-height: 130px;
    margin-bottom: 20px;
    padding: 0 20px 10px 20px;
    background: #fff;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.yto-item-coupon .icheckbox_flat-grey.checked.disabled {
    background-position: -22px 0;
}

.yto-tel {
    text-align: right;
}

.center {
    margin: 20px auto;
    width: 1000px;
    height: 560px;
}

.row {
    margin: 20px auto;
    width: 1000px;
    text-align: center;

}

.note3_bottom {

    width: 100%;
    height: 70px;
    background-color: white;
}
