<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="distributionAction"
		class="com.logistics.distribution.action.DistributionAction.java"
		scope="prototype">
		<property name="distributionService"
			ref="distributionService"></property>
	</bean>
	<bean id="distributionService"
		class="com.logistics.distribution.service.impl.DistributionServiceImpl">
		<property name="distributionDao" ref="distributionDao"></property>
	</bean>
	<bean id="distributionDao"
		class="com.logistics.distribution.dao.impl/DistributionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>