<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="testAction" class="com.logistics.test.action.TestAction"
		scope="prototype">
		<property name="testService" ref="testService"></property>
	</bean>
	<bean id="testService"
		class="com.logistics.test.service.impl.TestServiceImpl">
		<property name="testDao" ref="testDao"></property>
	</bean>
	<bean id="testDao" class="com.logistics.test.dao.impl.TestDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>